.container{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    gap: 3rem;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--themeRed);
}
.hr{
    height: auto;
    width: auto;
    background-color: rgb(255, 224, 192);
    border-radius: 2rem;
    cursor: pointer;
}
.ImageWrapper{
    height: 16rem;
    width: 22rem;
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
}
.menuSalad{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}
.salad{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: bold;
}
.ImageWrapper>span>img:hover{
    transform: scale(1.1);
}
.salad:hover{
    cursor: pointer;
}